.container{
  background-image: 
  url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-size: "cover";
  height: 300vh;
  margin-top: 0px;
  font-size: 100%;
  background-repeat:no-repeat; 
  margin: 7% 20% 5% 20%;
}
.logoridd{
  width: 50px;
  height: 50px;
  margin: 1% 1% 1% 1%;
}
.riddleHead{
  color: aquamarine;
  margin: -5% 1% 0% 8%;
}
.block{
  border: 2px solid rgb(214, 255, 31);
  margin: 3% 40% 5% 2%;
  padding: 1% 0% 1% 0%;
  border-radius: 7% ;
}
.inputbox{
  margin: 0% 0% 0% 10%;
  border-radius: 20%;
}
.dottech{
  margin-left: 2%;
  color: rgb(252, 242, 242);
}
.Coverimage{
  width: 20%;
  height: 20%;
  border-radius: 70%;
  margin-top: 5%;
}
h3{
  margin: -15% 1% 1% 25%;
}
p{
  font-weight: lighter;
}
.block-2{
  border: 1px solid rgb(227, 237, 238);
  margin: -15% -20% 5% 70%;
  padding: 1% 0% 1% 0%;
  border-radius: 7% ;
}
.inputbox-2{
  margin: 0% 0% 0% 10%;
  border-radius: 20%;
}
.para-block{
  margin: -50% 2% 1% 60%;
  color: azure;
}
.head-2{
  margin: 1% 1% 1% 2%;
}
.para-2{
  margin: 1% 1% 1% 1%;
}
.button-1{
  margin: 5% 1% 1% 35%;
  padding: 3% 10% 3% 10%;
  border-radius: 43%;
  font-weight: bolder;
}

@media screen and (max-width:700px) {
  .container{
    background-image: 
    url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    background-size: "cover";
    height: 300vh;
    margin-top: 0px;
    font-size: 100%;
    background-repeat:no-repeat; 
    margin: 7% 20% 5% 20%;
  }
  .logoridd{
    width: 50px;
    height: 50px;
    margin: 1% 1% 1% 1%;
  }
  .riddleHead{
    color: aquamarine;
    margin: -5% 1% 0% 8%;
  }
  .block{
    border: 2px solid rgb(214, 255, 31);
    margin: 3% 40% 5% 2%;
    padding: 1% 0% 1% 0%;
    border-radius: 7% ;
  }
  .inputbox{
    margin: 0% 0% 0% 10%;
    border-radius: 20%;
  }
  .dottech{
    margin-left: 2%;
    color: rgb(252, 242, 242);
  }
  .Coverimage{
    width: 20%;
    height: 20%;
    border-radius: 70%;
    margin-top: 5%;
  }
  h3{
    margin: -15% 1% 1% 25%;
  }
  p{
    font-weight: lighter;
  }
  .block-2{
    border: 1px solid rgb(227, 237, 238);
    margin: -15% -20% 5% 70%;
    padding: 1% 0% 1% 0%;
    border-radius: 7% ;
  }
  .inputbox-2{
    margin: 0% 0% 0% 10%;
    border-radius: 20%;
  }

  .para-block{
    margin: -50% 2% 1% 60%;
    color: azure;
    text-align: center;
    display: flexbox;
  }
  .head-2{
    margin: 1% 1% 1% 2%;
    text-align: center;
    display: flexbox;
  }
  .para-2{
    margin: 1% 1% 1% 1%;
    text-align: center;
    display: flexbox;
  }
  .button-1{
    margin: 5% 1% 1% 35%;
    padding: 3% 10% 3% 10%;
    border-radius: 43%;
    font-weight: bolder;
    text-align: center;
    display: flexbox;
  }
  
  
}
